@import '../../assets/styles/index.scss';

.footer{
  height: 60px;
  width: 100%;
  background-color: $primary-colo;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    color: whitesmoke;
  }
}
