// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Variables
$primary-colo: #282c34;
$secondary-color: #f5f5f5;
$font-normal:'Roboto', sans-serif;
$priamry-shadow:0px 0px 10px 0px $primary-colo;

// Variables Media

$layout-breakpoint-small: 960px;
